
.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 40px;
  padding-right: 40px;
  height: auto;
}

/*heder cuộn theo khi cuộn trang*/
/*Lưu ý: khi sử dụng ui này phải để padding-top: 40px; ở phần index.css (phần bọc toàn bộ trang hiển thị) 
  để không bị header che các thành phần khác hoặc banner*/
/* .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 40px;
  padding-right: 40px;
  height: auto;
  z-index: 1000;
} */

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  
  justify-content: space-between;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.logo-img {
  width: 100px;
  height: 100px;
}

.logo-text {
  margin-left: 0px;
  font-size: 40px;
}

/* Dropdown Danh mục */
.nav {
  display: flex;
  gap: 50px;
  position: relative;
}

.dropdown {
  position: relative;
  cursor: pointer;
  font-size: 25px;
  padding: 10px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  min-width: 230px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-menu a {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.dropdown-menu a:hover {
  background: #f5f5f5;
}

/* Search Box */
.search-box {
  display: flex;
  align-items: center;
  background: #f0f0f0;
  padding: 20px;
  height: 60px;
  border-radius: 30px;
}

.search-box input {
  border: none;
  background: none;
  outline: none;
  width: 420px;
  font-size: 25px;
}

.search-icon {
  color: gray;
  cursor: pointer;
  font-size: 25px;
}

/* Actions */
.actions {
  display: flex;
  gap: 50px;
}

.icon {
  font-size: 40px;
  cursor: pointer;
}

.cart {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  font-size: 15px;
  border-radius: 50%;
  padding: 2px 6px;
}

.logout {
  color: red;
  font-weight: bold;
  text-decoration: none;
  font-size: 25px;
}
